* {
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: rgb(183, 167, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 80vh;    /*total cointainer will be 70% of web-page*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;         /*total game will be 60% of cointainer*/
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2vmin;
}

.box{
    color: red;
    display: flex;
    height: 18vmin;         /*box will be 18 of the game*/
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;    /*color of X O*/
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 240, 166);
}
#resetbtn{
    margin: 1vmin;
    padding: 1vmin;
    height: 6vmin;
    width: 20vmin;
    font-size: smaller;
    color: rgb(10, 2, 2);
    background-color: rgb(136, 134, 134);
    border-radius: 1rem;
    border: none;
}
#newbtn{
    margin: 1vmin;
    padding: 1vmin;
    height: 6vmin;
    width: 20vmin;
    font-size: smaller;
    color: rgb(10, 2, 2);
    background-color: rgb(136, 134, 134);
    border-radius: 1rem;
    border: none;
}
h1{
    padding: 1rem;
    color: crimson;
    font-size: 8vmin;
}
#msg{
    text-align: center;
    color: rgb(4, 82, 37);
    font-size: 6vmin;

}
.hide{
    display: none;
}